@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset mobile */
html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #1e293b;
  color: white;
}

/* Cache les flèches des inputs number (Chrome, Safari, Edge, Opera) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Cache les flèches des inputs number (Firefox) */
input[type=number] {
  -moz-appearance: textfield;
}